@model ProductDisplayVM
@{
    var userDetail = User.Identity.Name;
}
<div>
    <p>@Model.Id</p>
    <p>@Model.Name</p>
    <p>@Model.Shape.Name</p>
    <p>@Model.Color.Name</p>
    <p>@Model.Color.Hex</p>
    <p>@Model.Transparency.Value</p>
    <p>@Model.Price</p>
    <p>@userDetail</p>

    <form asp-controller="ShoppingCart" asp-action="AddToCart">
        <input asp-for="Id" hidden/>
        <div class="input-group" style="width:200px;">
            <button class="btn btn-danger" type="button" id="decreasequantity">&nbsp;-&nbsp;</button>
            <button class="btn btn-success" type="button" id="increasequantity">&nbsp;+&nbsp;</button>
            <input asp-for="Quantity" type="number" class="form-control text-center pe-1" id="productquantity" readonly>
            <button type="submit" class="btn btn-primary"><i class="bi bi-cart-plus"></i></button>
        </div>
    </form>
</div>


@section Scripts{
<script src="~/js/quantity.js"></script>
}