@model ProductCustomerIndexVM

@{
    var formtype = "Filter";
}

@if (Model != null)
{
    <div class="container">
        <div class="row pt-4 my-2">
            <div class="col-3 text-end">
                <form method="post">
                    <label>Filter by Color:</label>
                    <select asp-for="ColorIdFilter" asp-items="@Model.Colors" class="form-control">
                        <option disabled selected>--Select Color--</option>
                    </select>
                    <div class="text-end">
                        <partial name="Buttons/_Confirm" model="formtype" />
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Created By</th>
                    <th>Time Created</th>
                    <th>Color Name</th>
                    <th>Shape Name</th>
                    <th>Transparency Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@product.Id" class="btn">
                                @product.Name
                            </a>
                        </td>
                        <td>@product.Price.ToString("c")</td>
                        <td>@product.Artist</td>
                        <td>@product.Created</td>
                        <td>@product.Color.Name</td>
                        <td>@product.Shape.Name</td>
                        <td>@product.Transparency.Value %</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>No products found</p>
}